/*ESERCIZIO 1*/
.ex-1-square{
  transition: 3s;
}    

.ex-1-square:hover{
    background: red ;
}

/*ESERCIZIO 2*/
.ex-2-square{
  transition: ease 3s;
}
.ex-2-square:active{
  width: 100%;
}

/*ESERCIZIO 2*/
.ex-3-square{
  transition: 3s;
}
.ex-3-square:hover{
  border-radius: 100%;
}

/*ESERCIZIO 4*/
.ex-4-square{
  transition: 3s;
}
.ex-4-square:hover{
  opacity: 0;
}

/*ESERCIZIO 5*/
.ex-5-square{
  transition: 2s;
}
.ex-5-square:hover{
  width: 100px;
  height: 100px;
}
.ex-5-square:active{
  width: 30px;
  height: 30px;
}

/*ESERCIZIO 6*/
.ex-6-img:hover{
  filter: grayscale(100%);
}
